@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout{
  min-height: 100vh!important;
}

.ant-layout > .ant-layout{
  min-height: calc(100vh - 64px)!important;
}

button, [type='button'], [type='reset'], [type='submit'] {
    background-color: initial;
}

button, [type='button'], [type='reset'], [type='submit'] {
  background-color: inherit;
}

.ant-btn-primary {
  background-color: #1890ff;
}

.anticon {
  vertical-align: 2px;
}

.header-menu {
  background: rgb(11 49 102 / var(--tw-bg-opacity)) !important;
}

.user-info {
  line-height: 64px;
}

.user-info span {
  line-height: initial;
}
.h-page{
  min-height: calc(100vh - 90px);
}

.h-grid{
  min-height: calc(100vh - 195px);
}