<section class="p-5 h-full">
  <section class="columns-2">
    <h1 class="text-3xl font-bold text-primary-900">Uživatelé</h1>
  </section>

  <nz-breadcrumb class="mt-2 mb-2">
    <nz-breadcrumb-item>Administrace</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/admin/users">Uživatelé</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <ng-container *ngIf="(users$ | async)!.length > 0 else noDataTpl">
    <section class="grid grid-cols-3 gap-4 pt-2">
      <section *ngFor="let user of (users$ | async)" class="bg-white p-5 shadow-md rounded-md">
        <h2 class="text-xl font-bold ">{{user.mail}}</h2>
      </section>

    </section>
  </ng-container>
</section>


<ng-template #noDataTpl>
  <section class="flex flex-col justify-center h-full">
    <nz-empty></nz-empty>
  </section>

</ng-template>
